div {
    background-color: red;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    animation: 2s infinite animation;
}

@keyframes animation {
    0% {
        margin-left: 50%;
    }
    25% {
        margin-left: 0px;
    }
    50% {
        margin-left: 20%;
    }
    75% {
        margin-left: 0px;
    }
    95% {
        margin-left: 10%;
    }
    100% {
        margin-left: 0px;
    }
}