div {
    border: 1px solid black;
    width: 200px;
    height: 200px;
    animation: 2s infinite animation;
}

@keyframes animation {
    0% {
        color: red;
    }
    100% {
        color: blue;
    }
}