div {
    height: 200px;
    width: 200px;
    background-color: red;
    animation: 2s infinite animation;
}

@keyframes animation {
    0% {
        background-color: red;
    }
    100% {
        background-color: blue;
    }
}